<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
        <display-name>LZJ spring mvc</display-name>
        <servlet>
            <!--    配置dispatcherServlet-->
            <servlet-name>dispatcherServlet</servlet-name>
            <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
            <init-param>
                <param-name>contextConfigLocation</param-name>
                <param-value>
                    <!--配置springMVC的路径-->
                    classpath:/spring-mvc.xml
                    <!--演示默认适配器-->
<!--                    classpath:/spring-mvc-normal.xml-->
                    <!--演示SimpleControllerHandlerAdapter适配器 以及拦截器 自定义异常处理-->
<!--                    classpath:/spring-mvc-interceptors.xml-->
                    <!--演示注解开发配置-->
<!--                    classpath:/spring-mvc-annotation.xml-->
                </param-value>
            </init-param>
        </servlet>
        <servlet-mapping>
            <servlet-name>dispatcherServlet</servlet-name>
            <url-pattern>/</url-pattern>
        </servlet-mapping>
        <welcome-file-list>
            <welcome-file>/index.html</welcome-file>
        </welcome-file-list>
</web-app>

